@page
<<<<<<< HEAD
@model TorneoDeFutbol.App.Frontend.Pages.Jugadores.IndexModel
@{
}

<a class="btn btn-primary" asp-page="./Create">Crear Jugador</a>

<h1>Listado de Jugadores</h1>

<table class="table table-striped">
    <thead>
        <tr>
            <th scope="col">Nombres</th>
            <th scope="col">Apellidos</th>
            <th scope="col">Teléfono</th>
            <th scope="col">Dirección</th>
            <th scope="col">Acciones</th>
        </tr>
    </thead>

    <tbody>
        @foreach (var jugador in Model.jugadores)
        {
            <tr>
                <td>@jugador.nombre</td>
                <td>@jugador.apellido</td>
                <td>@jugador.numeroTelefono</td>
                <td>@jugador.direccion</td>
                <td><a class="btn btn-secondary" asp-page="./Details" asp-route-id="@jugador.idParticipante">Detalle</a></td>
            </tr>
        }
=======
@model TorneDeFutbol.App.Frontend.Pages.Jugadores.IndexModel
@{
}
<h1>Listado de Jugadores</h1>

<table class="table">
  <thead>
    <tr>
      <th scope="col">nombre</th>
      <th scope="col">apellido</th>
      <th scope="col">numeroTelefono</th>
      <th scope="col">Acciones</th>
      
    </tr>
  </thead>
  <tbody>
    @foreach (var jugador in Model.jugadores)   
    {
  
    <tr>
      <td>@jugador.nombre</td>
      <td>@jugador.apellido</td>
      <td>@jugador.numeroTelefono</td>
      <td><a class="btn btn-secondary" asp-page="./Details" asp-route-id="@jugador.idParticipante">Detalle</a></td>
    </tr>

    }
>>>>>>> f458938893f44dcbf05a35525142bec7e48681e0
    </tbody>
</table>